<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/product-add.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<style type="text/css">
	[v-cloak] {
		display: none;
	}
</style>
</head>
<body>
	<div id="app" v-cloak>
		<el-container style="min-height: 100%;border: 1px solid #eee">
			<el-header style="text-align: left; font-size: 12px">
				<h2 class="title"><img src="/assets/icon.png">微信砍价后台管理系统</h2>
			</el-header>
			<el-container>
				<el-aside width="204px" style="border-right: solid 1px #e6e6e6;">
					<el-menu :default-openeds="['1']" default-active="1-2" style="border-width: 0">
						<el-submenu index="1">
							<template slot="title"><i class="el-icon-goods"></i>商品管理</template>
							<a href="./index.html"><el-menu-item index="1-1">商品列表</el-menu-item></a>
							<el-menu-item index="1-2">新增商品</el-menu-item>
						</el-submenu>
						<el-submenu index="2">
							<template slot="title"><i class="el-icon-sort"></i>砍价管理</template>
							<a href="./trade.html?status=going"><el-menu-item index="2-1">在砍列表</el-menu-item></a>
							<a href="./trade.html?status=bingo"><el-menu-item index="2-2">达到目标</el-menu-item></a>
							<a href="./trade.html?status=timeout"><el-menu-item index="2-3">完结未购</el-menu-item></a>
							<a href="./trade.html?status=bought"><el-menu-item index="2-4">已经购买</el-menu-item></a>
						</el-submenu>
						<el-submenu index="3">
							<template slot="title"><i class="el-icon-star-off"></i>用户管理</template>
							<a href="./user.html"><el-menu-item index="3-1">用户查看</el-menu-item></a>
						</el-submenu>
					</el-menu>
				</el-aside>
				<el-main>
					<el-form ref="ruleForm" :model="form" label-width="80px" :rules="rules">
						<el-form-item label="商品名称" prop="name">
							<el-input v-model="form.name" style="width:540px"></el-input>
						</el-form-item>
						<el-form-item label="商品图片">
							<img v-if="form.picture !== ''" :src="form.picture" style="width:200px;">
							<form id="uploadForm">
								<input id="uploader" type="file" name="image">
							</form>
						</el-form-item>
						<el-form-item label="商品介绍" prop="introduce">
							<el-input type="textarea" v-model="form.introduce" style="width:540px" type="text"></el-input>
						</el-form-item>
						<el-form-item label="商品价格" prop="price">
							<el-input v-model="form.price" style="width:240px" type="number"></el-input>
						</el-form-item>
						<el-form-item label="商品底价" prop="floor_price">
							<el-input v-model="form.floor_price" style="width:240px" type="number"></el-input>
						</el-form-item>
						<el-form-item label="期待人数" prop="bargain_count">
							<el-input v-model="form.bargain_count" style="width:240px" placeholder="填写期待人数" type="number"></el-input>
						</el-form-item>
						<el-form-item label="砍价趋势" prop="up">
						  <el-radio v-model="form.up" label="1">递增</el-radio>
						  <el-radio v-model="form.up" label="0">递减</el-radio>
						</el-form-item>
						<el-form-item label="砍价斜率" prop="bargain_slope">
							<el-input v-model="form.bargain_slope" style="width:240px" placeholder="填写砍价趋势，如 50" type="number"></el-input><span style="font-size: 18px;margin-left: 10px;">%</span>
						</el-form-item>
						<el-form-item label="砍价波动" prop="bargain_range">
							<el-input v-model="form.bargain_range" style="width:240px" placeholder="填写波动百分率，如 20" type="number"></el-input><span style="font-size: 18px;margin-left: 10px;">%</span>
						</el-form-item>
						<el-form-item label="活动时长" prop="termday">
							<el-input v-model="form.termday" style="width:240px" placeholder="以小时为单位" type="number"></el-input>
						</el-form-item>
					  <el-form-item label="立即上线">
					    <el-switch v-model="form.online"></el-switch>
					  </el-form-item>
						<el-form-item>
							<el-button type="primary" @click="onSubmit('ruleForm')">立即创建</el-button>
							<el-button>取消</el-button>
						</el-form-item>
					</el-form>
				</el-main>
			</el-container>
		</el-container>

	</div>
	<script type="text/javascript" src="./js/add.js"></script>
</body>
</html>